{:paths ["src" "classes"]
 :deps {org.clojure/clojure                      {:mvn/version "1.11.1"}
        org.clojure/core.async                   {:mvn/version "1.6.681"}
        org.clojure/tools.cli                    {:mvn/version "1.0.219"}
        org.martinklepsch/clj-http-lite          {:mvn/version "0.4.3"}
        io.github.binance/binance-connector-java {:mvn/version "3.4.0"}
        metosin/jsonista                         {:mvn/version "0.3.8"}
        org.ta4j/ta4j-core                       {:mvn/version "0.16"}
        com.xtdb/xtdb-google-cloud-storage       {:mvn/version "1.24.3"}
        io.jenetics/jenetics                     {:mvn/version "8.1.0"}
        clojure.java-time/clojure.java-time      {:mvn/version "1.4.3"}}
 :aliases {:uberjar {:replace-deps  {uberdeps/uberdeps {:mvn/version "1.4.0"}}
                     :replace-paths []
                     :main-opts     ["-m" "uberdeps.uberjar"]}}}

;; clj -M -e "(compile 'ea.core)"
;; clj -M:uberjar --main-class ea.core
;; java -jar target/ea.jar -d